[2019-07-01 18:51] cyork opened #1 "Mirador 3 evaluation"
Report on the state of Mirador 3 development to help determine its impact on the JHU’s infrastructure

[2019-07-01 19:53] cyork opened #2 "Scaife server text as Web Annotation"
Represent Scaife server text as a Web Annotation for evaluation.

[2019-07-01 19:54] cyork opened #3 "Demonstration data"
Identify data to be used in the demo.

[2019-07-03 19:59] GroovinChip commented on #1
Here's my report as it stands now. I had assumed that I'd be presenting it, so it could probably be a bit more detailed. If you'd like me to flesh it our more, I will do so.

[Mirador 3 Report.docx](https://github.com/jhu-digital-manuscripts/AnIOp/files/3356653/Mirador.3.Report.docx)

[2019-07-15 15:16] jtauber commented on #2
To clarify, we're not producing Web Annotation but rather consuming it. Basically taking a TEI text + standoff annotation in W3C Web Annotation format and, in ATLAS, producing a single JSON output with inline annotation for consumption by the Scaife Viewer.

[2019-07-15 19:38] cyork opened #4 "ATLAS: Design"

[2019-07-15 19:39] cyork opened #5 "ATLAS: Generic Infrastructure"

[2019-07-15 19:41] cyork opened #6 "ATLAS: Implementation for different kinds of information"
1. W3C web annotation support
2. TEI XML

[2019-07-15 19:41] cyork opened #7 "Implement FE for viewing lines by folios"

[2019-07-15 19:42] cyork opened #8 "Front end: generic infrastructure"

[2019-07-15 19:42] cyork opened #9 "Implement IIIF component to view images and folio lines side-by-side"

[2019-07-15 19:45] cyork opened #10 "ATLAS: W3C web annotation support"

[2019-07-15 19:45] cyork opened #11 "ATLAS: Ingest TEI XML"

[2019-07-15 19:53] cyork commented on #2
I modified the comment to align with clarification. Let me know if it does not.
Thanks.

[2019-07-30 19:24] #1 closed, assigned to GroovinChip

[2019-07-30 19:24] #3 closed, assigned to markpatton

[2019-07-30 19:27] markpatton opened #12 "Deploy mirador 3 against existing IIIF 2 representation of demo data provided by rosademo on rosetest"

[2019-07-30 19:28] markpatton opened #13 "Be able to build and deploy rosademo locally"

[2019-07-30 19:30] markpatton opened #14 "Test mirador 3 support for IIIF 3"
This will have to wait until rosademo supports IIIF 3.

[2019-07-30 19:30] markpatton commented on #12
Will have to get some help from John and Derek.

[2019-07-30 19:32] markpatton opened #15 "Modify mirador 3 to use the rosademo web annotation service"
This is an experiment.

For the moment the web annotation service could be hard coded, but also think about how best to represent this service in IIIF. Also think about how using IIIF 3 would change this.

[2019-08-01 14:07] GroovinChip commented on #13
@markpatton when running `mvn pacakge` I get the following error:
[code]
I updated my settings in intelliJ to point to the JDK instead of the JRE, and the error persists. The link they provide is also not helpful. Any ideas?

[2019-08-05 14:21] markpatton commented on #13
Looks like maven cannot find a java compiler. Note the behavior trying to do things from the ide may be different from the command line. I generally reccomend the command line for simplicity. Check that you have javac available. Try google around around and see if you can get past it. If not ping me on slack and we'll chat.

[2019-08-05 14:23] GroovinChip commented on #13
Yeah I did run `mvn package` from the command line. I will check out javac, and do some more research.

[2019-08-05 17:55] GroovinChip commented on #13
@markpatton we've got some test failures:

[code]

[2019-08-06 18:37] GroovinChip commented on #13
Can successfully build and deploy rosademo, but when hitting endpoints I get nothing back. Mark suspects this to be a Windows issue. There seems to be nothing more I can do at this time.

[2019-08-06 18:38] #13 closed, assigned to GroovinChip

[2019-08-12 18:25] markpatton opened #16 "Design and implement CTS URN scheme for rose transcriptions"
Do something like urn:cts:medievalmss:rose.Douce195:005r for a folio in the rose collection.
Use the folio name used in the transcription to make things unambiguous.

[2019-08-12 18:25] markpatton opened #17 "Validate Web Annotation output"
To some reasonable extent make sure valid json-ld that is valid web annotation is output.

[2019-08-12 18:26] markpatton opened #18 "Add support for IIIF 3 to rosademo"
Preliminary support so we can experiment.

[2019-08-14 17:59] markpatton commented on #16
Did an initial version and deployed it.

[2019-08-14 17:59] #16 closed, assigned to markpatton

[2019-08-14 18:06] GroovinChip commented on #15
## Complete by 8/26/2019

- [x] Call WA service in Mirador 3 and put out a rough visual representation of the data.

   `https://rosetest.library.jhu.edu/rosademo/wa/rose/SeldenSupra57/1r/canvas`

- [x] Push code to github

- [x] Prepopulate manifests

- [x] Address #12 , talk to Derek or Jeff and get permission to deploy to server. get URL to be able to share with others on AnIop team.
- [x] Repo

[2019-08-26 14:08] markpatton commented on #17
Verified that JSON-LD expansion can be run on Web Annotation output. Checked that terms are actually expanded.

After all sorts of issues with the json-ld java package, ended up deciding not to directly include the IIIF 2 or 3 context. Instead, IIIF terms are just directly defined.

[2019-08-26 14:08] #17 closed, assigned to markpatton

[2019-08-26 14:27] markpatton commented on #14
Should check to see if Mirador 3 can do content negotiation for the IIIF version

[2019-08-26 14:32] GroovinChip commented on #14
What do you mean by content negotiation

[2019-08-26 15:33] jacobwegner commented on #11
I think a better title for this card might be "ATLAS: Ingest TEI XML".

@jtauber has been working on the ingestion engine for this, so the task remains in progress.

[2019-08-26 15:34] jacobwegner commented on #8
We've stood up an instance at https://jhu-de-la-rose-dev.netlify.com and will continue to make progress in a "design" focused iteration via https://github.com/jhu-digital-manuscripts/AnIOp/issues/7

[2019-08-26 15:35] jacobwegner commented on #5
The ATLAS instance has been stood up at:

https://jhu-de-la-rose-dev.netlify.com

Basic queries have been documented via:

https://gist.github.com/jacobwegner/d0effd98061af4d9665633cf16c5c8db

[2019-08-26 15:36] jacobwegner commented on #4
Since ATLAS data is consumed by the Scaife Viewer front end, there isn't really any "design" tasks to be completed, so we should close this issue.

[2019-08-26 15:43] jacobwegner commented on #6
I think this duplicates other issues; as part of ingesting the TEI XML (#11) and the web annotations (#10) in ATLAS, we'll be displaying them within the frontend (#7 and #9)

[2019-08-26 16:08] jacobwegner commented on #2
I think this can be best tracked via implementation of #5 and #10

[2019-08-26 16:09] #2 closed, assigned to jtauber

[2019-08-26 16:09] #8 closed, assigned to jtauber

[2019-08-26 16:09] #5 closed, assigned to jtauber

[2019-08-26 16:09] #4 closed, assigned to jtauber

[2019-08-26 16:10] #6 closed, assigned to jtauber

[2019-08-27 12:22] markpatton commented on #14
HTTP Content negotiation: https://developer.mozilla.org/en-US/docs/Web/HTTP/Content_negotiation
It needs both server and client support to be effective.

[2019-09-10 14:13] jtauber commented on #11
I think we can close this.

[2019-09-10 14:13] #11 closed, assigned to jtauber

[2019-09-17 17:52] cyork opened #19 "Provide Homer content for JHU to review"
JHU will review textual resources from Eldarion.

[2019-09-17 17:53] cyork opened #20 "Convert Homer translation alignment to W3C annotation format."
Eldarion will convert homer translation alignment to W3C annotation

[2019-09-17 17:54] cyork opened #21 "Document WebAnnotation samples that represent GraphQL queries to ATLAS"
Eldarion will serve up web annotation for GraphQL (First version 9/23)

[2019-09-17 17:57] cyork opened #22 "Review Homer content for Mirador 3"
Mark to determine if Homer content can be made available via Mirador 3

[2019-09-18 18:54] markpatton commented on #18
Deployed an early version with minimal testing on the endpoint /iiif3.

[2019-09-18 18:54] #18 closed, assigned to markpatton

[2019-09-20 19:31] cyork commented on #19
images, metadata are needed.

[2019-09-25 03:13] GroovinChip commented on #15
Updated task 4 to reflect current approach

[2019-09-25 10:35] jtauber commented on #19
For the Homer Multitext project, the raw images are here:

http://www.homermultitext.org/hmt-image-archive/venetus-a/

and there is an Image Citation Tool at:

http://www.homermultitext.org/ict2/

which uses OpenSeadragon but I'm not 100% sure how the service it is called works (although I know it is custom).

The overall data is here:

https://github.com/homermultitext/hmt-archive

which includes

[2019-09-25 14:53] markpatton commented on #19
The raw images directories has images of a book. What book is it? What is the CITE URN for that book? The images use a particular naming scheme I assume is associated with CITE. What scheme is it and how does one go from a cite URN to an image file?

The overall data link seems to have metadata in a custom format which describes resources in the archive/ directory. What does this whole structure r

[2019-09-26 14:40] GroovinChip commented on #12
Deployed at https://rosetest.library.jhu.edu/anniop/

[2019-09-26 14:40] #12 closed, assigned to GroovinChip

[2019-09-30 12:30] markpatton commented on #19
The content is complicated, but can be imported into our system. The issue is selecting what to import.

[2019-09-30 12:30] #19 closed, assigned to jtauber

[2019-09-30 14:24] markpatton commented on #22
Done. It can. Just a little complicated by odd metadata formats.

[2019-09-30 14:24] #22 closed, assigned to markpatton

[2019-09-30 14:29] GroovinChip commented on #15
Task 5 is in progress. The button has been added, the challenge now is opening a panel.

[2019-09-30 17:00] jtauber opened #23 "Ingest Homer Multitext into ATLAS"

[2019-09-30 17:05] jtauber opened #24 "Hafez Translation Alignment"

[2019-09-30 18:19] jacobwegner commented on #23
Will expose text data for JHU's consumption

[2019-09-30 18:42] jacobwegner commented on #21
Produce a document that describes a few options for representing GraphQL as a web annotations

- WA links to GraphQL

- WA body has the data returned by GraphQL

[2019-10-04 18:06] markpatton opened #25 "Add endpoint for bulk export of Web Annotations"

[2019-10-04 18:07] markpatton opened #26 "Add Venetus A from Homer MultiText to demo data"

[2019-10-04 18:08] markpatton opened #27 "Modify Web Annotation endpoint to return multiple annotations"

[2019-10-04 18:09] markpatton opened #28 "Mirador deployment on rosetest should show rose ms with transcriptions and homer ms by default"

[2019-10-04 18:11] markpatton opened #29 "Propose approach for associating iiif and cite resources"

[2019-10-07 13:54] GroovinChip commented on #28
- Rose MS with Transcriptions: Is this one of the images from the endpoint that I'm already calling?
- Homer MS: I don't know what this is

[2019-10-07 14:35] markpatton commented on #26
Done. Available as /homer/VA/manifest

[2019-10-07 14:35] #26 closed, assigned to markpatton

[2019-10-07 14:37] markpatton commented on #28
The homer ms is available as /homer/VA/manifest.

[2019-10-07 16:08] jtauber commented on #24
Working on ingesting https://github.com/perseids-project/alignment-prototypes but also tracking down the three-way alignment with German too http://divan-hafez.com/?fn=32

[2019-10-07 17:41] GroovinChip commented on #28
All transcription manifests are now preloaded into Mirador.

[2019-10-07 17:41] #28 closed, assigned to GroovinChip

[2019-10-07 18:04] jacobwegner commented on #21
A web annotation with a link to a query:

https://delarose-atlas.herokuapp.com/wa/urn:cts:medievalmss:rose.SeldenSupra57:001r/dataset/

A web annotation containing the results of an ALTAS query:

https://delarose-atlas.herokuapp.com/wa/urn:cts:medievalmss:rose.SeldenSupra57:001r/textual-body/

[2019-10-07 18:05] jacobwegner commented on #21
(GraphiQL link for further discussion of the "shape" of the GraphQL query:

https://delarose-atlas.herokuapp.com/graphql/#query=%7B%0A%20%20pages(version_Urn%3A%20%22urn%3Acts%3Amedievalmss%3Arose.SeldenSupra57%22%2C%20identifier%3A%20%22001r%22)%20%7B%0A%20%20%20%20edges%20%7B%0A%20%20%20%20%20%20node%20%7B%0A%20%20%20%20%20%20%20%20version%20%7B%0A%20%20%20%20%20%20%20%20%20%20urn%0A%20%20%20%20

[2019-10-07 18:35] jacobwegner commented on #21
I'll sync up again with @markpatton and @GroovinChip once they have a chance to look at these WA and GraphQL in general.

The top level endpoint is:

https://delarose-atlas.herokuapp.com/graphql/

and you can access the schema explorer by clicking into the `page` portion of GraphiQL:

![image](https://user-images.githubusercontent.com/629062/66338735-56b11700-e907-11e9-92d0-9cfeaf3668a7.png)

[2019-10-07 18:59] GroovinChip opened #30 "Support Web Annotations in Mirador 3"
Tracks progress made with Jack Reed and I on https://github.com/ProjectMirador/mirador/issues/2877

[2019-10-16 17:39] markpatton commented on #27
Done.

[2019-10-16 17:39] #27 closed, assigned to markpatton

[2019-10-16 17:40] markpatton commented on #25
Done through AnnotationCollection. See the documentation here: https://github.com/jhu-digital-manuscripts/rosademo

[2019-10-21 17:12] jacobwegner commented on #25
@markpatton I was able to use this for #10.  Thanks for your efforts!

I did have one small question we can discuss here or on the call later today.

Within a particular WA endpoint response:

e.g [https://rosetest.library.jhu.edu/rosademo/wa/rose/SeldenSupra57/1r/canvas/annotation](https://rosetest.library.jhu.edu/rosademo/wa/rose/SeldenSupra57/1r/canvas/annotation)
<img width="892" alt="image" s

[2019-10-21 17:30] jacobwegner commented on #25
@markpatton and a second issue we had hit that isn't a blocker (we've coded around it), but worth mentioning:

The last page doesn't return valid JSON:

[code]

I think the last page should also be identified as https://rosetest.library.jhu.edu/rosademo/wa/rose/SeldenSupra57/manifest/annotationpage/32, since there are 324 items, and the first page starts at 0 (https://rosetest.library.jhu.edu/rosa

[2019-10-21 17:55] markpatton commented on #25
Looks like a few bugs. I should be able to add some tests and fix them up. Also the label property should be a string, not an object.

[2019-10-21 19:03] markpatton commented on #25
Fixed label and incorrect IIIF resource in Web Annotation.

Still need to fix incorrect json and Web Annotation objects using http instead of https.

[2019-10-21 19:43] markpatton commented on #25
Ok. Fixed incorrect json for issue. Added missing next and prev attributes to annotation page. Only put last in annotation collection when needed. Also fixed https issue.

[2019-10-23 21:58] jacobwegner commented on #21
@markpatton and @GroovinChip:

Thanks for your feedback on the call.  I've just deployed a new version of our web annotations endpoints:

- The endpoints will now actually return dynamic data (not hardcoded to the `1r` folio)
- Fixed the `target` URLs to reference `/iiif` rather than `/wa`
- Added a `graphql-query` WA that can be used to get the GraphQL query

[https://delarose-atlas.herokuapp.com

[2019-10-23 22:01] jacobwegner commented on #21
I plan to `AnnotationCollection` functionality for paging through the annotations, and will also add the new annotations we had discussed (given a URN, return a simplified HTML structure)

[2019-10-28 17:16] jacobwegner commented on #21
@markpatton and @GroovinChip:  I've finished off annotation collections for each of the formats below:

https://delarose-atlas.herokuapp.com/wa/urn:cts:medievalmss:rose.SeldenSupra57/graphql-query/annotation-collection/
https://delarose-atlas.herokuapp.com/wa/urn:cts:medievalmss:rose.SeldenSupra57/textual-body/annotation-collection/
https://delarose-atlas.herokuapp.com/wa/urn:cts:medievalmss:rose.

[2019-10-28 17:38] jacobwegner opened #31 "Add web annotation to ATLAS returning simplified HTML content"

[2019-10-28 17:39] jacobwegner commented on #21
I've created https://github.com/jhu-digital-manuscripts/AnIOp/issues/31 to track the simplified HTML structure; since ATLAS is now returning web annotations, I'm going to consider this issue closed.

[2019-10-28 17:46] jacobwegner commented on #31
@markpatton and @GroovinChip:  I've stood up an endpoint to sample the type of simplified HTML we might return in a web annotation:

https://delarose-atlas.herokuapp.com/html/urn:cts:medievalmss:rose.SeldenSupra57:001r/

Given this isn't directly something being used by our front end, I'm looking for feedback on what might be useful to you as far as HTML in the web annotation.

The current HTML ne

[2019-10-28 18:00] jacobwegner commented on #29
I'll mention this on the call, but just wanted to add that as Eldarion continues work on the HMT ATLAS server, we're intending to have an example of an alignment endpoint that given a CITE URN would allow retrieval of a translation alignment for a given folio.

I'll provide an update once we have something, but at a high level, given a CITE URN for a folio, we'd return a data structure with a tran

[2019-10-28 18:33] jacobwegner opened #32 "Share alignment payload for HMT data"

[2019-10-28 18:33] jacobwegner commented on #32
cc: @markpatton

[2019-10-28 20:37] jacobwegner commented on #32
refs #20

[2019-10-30 17:02] markpatton commented on #31
@jacobwegner

That approach looks good. There is enough information that we could easily do a little css styling.

[2019-10-30 17:05] markpatton commented on #29
@jacobwegner

That makes sense. One issue to figure out is how to reference the image that the bounding box is for? That image has a CITE urn in the cex files so I guess it could be used again? Or perhaps a reference to the IIIF image URI?

[2019-10-30 18:43] jacobwegner commented on #29
@markpatton I'll try and have a better answer for this by our next call, as I think we'll have made more progress with the data ingestion to better reason around this.

Off the cuff, we could probably do both (the image's CITE urn _AND_ the IIIF image URI).

[2019-11-11 18:11] jacobwegner commented on #31
@markpatton I've updated our ATLAS deployment expose this HTML via web annotations:

- A collection, https://delarose-atlas.herokuapp.com/wa/urn:cts:medievalmss:rose.SeldenSupra57/html/annotation-collection/
- A page, https://delarose-atlas.herokuapp.com/wa/urn:cts:medievalmss:rose.SeldenSupra57/html/annotation-page/1/
- A single annotation, https://delarose-atlas.herokuapp.com/wa/urn:cts:medieval

[2019-11-11 18:12] #31 closed, assigned to jacobwegner

[2019-11-11 18:13] #25 closed, assigned to markpatton

[2019-11-11 18:15] GroovinChip commented on #15
Updated tasks to reflect final approach

[2019-11-11 18:15] GroovinChip commented on #15
Complete

[2019-11-11 18:15] #15 closed, assigned to GroovinChip

[2019-11-11 18:17] GroovinChip commented on #30
Current progress:
- Initial support for handling Web Annotations and Web Annotation Pages. This is data only, no UI representation yet. Mirador does not crash when it receives Web Annotations and Web Annotation Pages.

[2019-11-18 20:23] cyork opened #33 "Support web annotations in Mirador 3"
Note: this activity is additional to the approved proposal.

- [x] Work with Jack R. to incorporate this functionality in the code base.

- [x] Provide updates as progress is made

[2019-11-18 20:27] cyork opened #34 "Web Annotations Display"
- [x] Use Mirador 3 to display web annotations generated and defined by this project with associated IIIF resources

- [x] Using diagramming software, generate mockups of what web annotations would look like in Mirador 3

[2019-11-18 20:32] cyork opened #35 "Feedback on the Proposed Homer representation as Web Annotations"
**Ongoing:** provide feedback on proposed annotations to ensure they have adequate documentation.

[2019-11-18 20:45] GroovinChip commented on #33
Also tracked in #30

[2019-11-30 08:11] jacobwegner commented on #32
This gist has some samples and some notes; we can discuss more on the call next week:

https://gist.github.com/jacobwegner/eb3de155d9d7a62cdf4c48838cecb7ed

[2019-12-02 15:14] GroovinChip commented on #33
Update note: Jack Reed has successfully updated the Mirador 3 sidebar to support Web Annotations in a basic manner. This code is currently undergoing tests and review on the Mirador side. I do not have an ETA for when it will land in their master branch.

[2019-12-02 15:15] GroovinChip commented on #30
Update note: Jack Reed has successfully updated the Mirador 3 sidebar to support Web Annotations in a basic manner. This code is currently undergoing tests and review on the Mirador side. I do not have an ETA for when it will land in their master branch.

[2019-12-02 15:16] GroovinChip commented on #34
As mentioned in #30 and #33, the Mirador sidebar will support Web Annotations in the near future. This will play into design ideas and decisions because we can utilize that area for some of our data.

[2019-12-02 18:49] jacobwegner commented on #9
We're still working on a lot of things upstream to improve the layout, but I have a proof of concept for the IIIF component viewable here:

https://spike-image-viewer--jhu-de-la-rose-dev.netlify.com/

[2019-12-03 19:29] GroovinChip commented on #34
Jack has opened a pull request for this code: https://github.com/ProjectMirador/mirador/pull/2898

[2019-12-03 19:30] GroovinChip commented on #33
Jack has opened a pull request for this code: ProjectMirador/mirador#2898

[2019-12-03 19:30] GroovinChip commented on #30
Jack has opened a pull request for this code: ProjectMirador/mirador#2898

[2019-12-12 16:29] jacobwegner commented on #32
Closed via https://github.com/scaife-viewer/hmt-cite-atlas/pull/2;

ongoing discussions tracked by #35

[2019-12-12 16:29] #32 closed, assigned to nobody

[2019-12-12 16:35] jacobwegner commented on #20
We have a WA with the bounding box, greek, and english as part of https://github.com/scaife-viewer/hmt-cite-atlas/pull/2.  Given that the `targets` of those annotations include the CTS URN of the greek passage, they could serve the purposes of this ticket as well.

[2019-12-12 16:35] #20 closed, assigned to jtauber

[2019-12-12 16:36] jacobwegner commented on #10
We've implemented the ability for ATLAS to consume data from a web annotation and to publish its own WAs

[2019-12-12 16:36] #10 closed, assigned to jacobwegner

[2019-12-12 16:40] jacobwegner commented on #23
The WAs implemented via https://github.com/scaife-viewer/hmt-cite-atlas/pull/2 are the start of this; we'll likely extract some annotations from the HMT data back over to http://github.com/scaife-viewer/explorehomer-atlas.

[2019-12-13 17:17] jacobwegner commented on #7
Next steps are to take what we've done for de la rose (in terms of displaying lines organized by folios) and make it available via https://explorehomer.scaife-viewer.org

[2019-12-13 17:23] jacobwegner opened #36 "Implement Explore Homer FE"
relates to #7 and #9

[2019-12-16 16:07] jacobwegner commented on #23
As we continue some work within `explorehomer-atlas` to manage annotations and alignments, I've extracted HMT data in a new branch:

https://github.com/scaife-viewer/explorehomer-atlas/compare/master...spike/venetus-a?expand=1

will circle back to ingest the data to support #36, #7 and #9

[2019-12-16 19:47] jacobwegner opened #37 "Design discovery service"
@markpatton wrote up a [document](https://docs.google.com/document/d/16UIeA9bGNYJG95tCrfoqpMbbVL5U5g-xqPFp8vpiZ8U/edit?usp=sharing) earlier this fall outlining some of the challenges that exist in discovering associated sets:

I think this is similar to a citation service that @jtauber has put some thought into as it relates to CTS urns:

This service:

* receives notifications of resources (revie

[2019-12-17 19:40] GroovinChip commented on #34
I have enabled a much nicer way of viewing web annotations:
![firefox_5MQh4N3Llw](https://user-images.githubusercontent.com/4250470/71028280-feeb1500-20da-11ea-8dbf-695886860089.png)
I obtained a crucial piece of information that made this possible - that Mirador returns a MenuItem component from the MaterialUI library it uses. That's why my prior implementation looked so weird! The correct approa

[2019-12-17 19:41] GroovinChip commented on #30
see #34

[2019-12-17 19:41] #30 closed, assigned to GroovinChip

[2019-12-17 19:41] GroovinChip commented on #33
see #34

[2019-12-17 19:41] #33 closed, assigned to GroovinChip

[2020-01-17 14:28] cyork opened #38 "Draft use cases based on available data"
using Homer and Rose data, write use cases for review by team, which will inform demo.

[2020-01-17 14:29] cyork opened #39 "Draft use cases based on available data"
using Homer and Rose data, write use cases for review by team, which will inform demo.

[2020-02-04 16:18] jacobwegner opened #40 "Refactor ATLAS data structure into text part nodes"
The ATLAS server backing https://explorehomer.scaife-viewer.org/ assumes that texts are composed of books and lines.

To support retrieving content to integrate the book / line with data with other structures (such as the IIIF data for Venetus A, which maps to folios), the Scaife Viewer dev team has worked to refactor the ATLAS data model to better conform to the [URN spec](http://cite-architectur

[2020-02-04 16:18] #40 closed, assigned to nobody

[2020-02-04 16:31] jacobwegner commented on #39
@jtauber I think we should catalog the types of Homeric data we have available here

[2020-02-04 16:34] jacobwegner opened #41 "Stand up mini stack FE and BE"
Building on #40 and the Explore Homer site, the Scaife Viewer team is working on a second site using ATLAS and the Scaife Viewer.  We call this site the "scaife-viewer mini stack"

Where Explore Homer helps to go "deep" (and allows to tap into a lot of the homeric data that will be cataloged in #39), the mini stack has texts from multiple authors and a variety of literary genre.

The Scaife Viewer

[2020-02-10 19:07] htpvu commented on #14
Decision: we will be using IIIF2. close this task

[2020-02-10 19:07] #14 closed, assigned to GroovinChip

[2020-02-10 19:09] htpvu commented on #29
Decision: have an approach to use: ad-hoc agreement (shared understanding) instead of a service handshake.  close this ticket

[2020-02-10 19:09] #29 closed, assigned to markpatton

[2020-02-10 19:10] htpvu commented on #34
Done. can be closed

[2020-02-10 19:10] #34 closed, assigned to GroovinChip

[2020-02-10 19:12] htpvu commented on #35
Given feedback initial batch of WA was given. additional feedback will be captured in new tickets

[2020-02-10 19:12] #35 closed, assigned to nobody

[2020-02-10 19:13] htpvu commented on #38
deprecated after the Y2 plannin gmeeting which provided a concrete usecase

[2020-02-10 19:13] #38 closed, assigned to markpatton

[2020-02-10 19:13] htpvu commented on #39
deprecated by the y2 planning meeting which produced a concrete usecase.

[2020-02-10 19:13] #39 closed, assigned to jacobwegner

[2020-02-10 19:58] cyork opened #42 "understand options to replace or modify the sidebar"
As an outcome of this ticket, please write up a document laying out the pros and cons in using two of the  integration approach (between Web Annotation and Mirador 3 interface):
approach 1: popup from a button
- pros:
- cons:

approach 2: side bar take over
- pros:
- cons:

Please provide the link to the document in this ticket when you're done.

[2020-02-10 20:00] cyork opened #43 "Write up summary of work and send to collaborators"

[2020-02-13 16:26] htpvu opened #44 "Knowledge transferring from Reuben to John"
Please enumerate the points to be covered in this knowledge transfer.

[2020-02-13 16:28] jabrah commented on #44
So far, I have been looking looking over the code for the current demo on @GroovinChip's fork. I can enumerate specific questions later

[2020-02-13 20:19] cyork commented on #42
Expect to be updated on 2/21/2020

[2020-02-14 18:06] #41 closed, assigned to nobody

[2020-02-14 18:06] #23 closed, assigned to jtauber

[2020-02-14 18:07] #9 closed, assigned to jtauber

[2020-02-14 18:07] #7 closed, assigned to jtauber

[2020-02-14 18:55] jacobwegner opened #45 "ATLAS: Translation data"

[2020-02-14 18:57] jacobwegner opened #46 "ATLAS: Sentence-level translation alignment data"

[2020-02-14 18:57] jacobwegner opened #47 "ATLAS: Word-level translation alignment data"

[2020-02-14 18:58] jacobwegner opened #48 "ATLAS: IIIF Data"
(we can already consume this data from JHU's WA endpoints)

[2020-02-14 18:58] jacobwegner opened #49 "ATLAS: Token-level data"
To support viewing morphological and interlinear display functionality

[2020-02-14 18:59] jacobwegner opened #50 "ATLAS: Morphological data"

[2020-02-14 18:59] jacobwegner opened #51 "ATLAS: Commentaries / Scholia"

[2020-02-14 18:59] jacobwegner opened #52 "ATLAS: Metrical data"

[2020-02-14 19:00] jacobwegner opened #53 "ATLAS: Georeference WA"
(Waiting on a Georeference WA)

[2020-02-14 19:00] jacobwegner opened #54 "ATLAS: Named entity data"

[2020-02-14 19:01] jacobwegner opened #55 "ATLAS: Audio data"

[2020-02-14 19:07] #50 closed, assigned to jacobwegner

[2020-02-14 20:36] jacobwegner opened #56 "As a reader, I can view folio images side by side with text transcriptions"

[2020-02-14 20:36] jacobwegner opened #57 "As a reader, I can view transcriptions"

[2020-02-14 20:37] jacobwegner opened #58 "As a reader, I can view the transcription side by side with a word level alignment"

[2020-02-14 20:37] jacobwegner opened #59 "As a reader, I can view an interlinear display of a transcription"

[2020-02-14 20:38] jacobwegner opened #60 "As a reader, I can view morphological data for a transcription"

[2020-02-14 20:38] jacobwegner opened #61 "As a reader, I can view the transcription arranged by meter"

[2020-02-14 20:38] jacobwegner opened #62 "As a reader, I can view scholia and commentaries side by side with folio images"

[2020-02-14 20:39] jacobwegner opened #63 "As a reader, I can view named entity data"

[2020-02-14 20:39] jacobwegner opened #64 "As a reader, I can view georeference named entity data"
Requires #53

[2020-02-14 20:40] jacobwegner opened #65 "As a reader, I can listen to audio data for a given line in a transcription"

[2020-02-18 03:08] #21 closed, assigned to jtauber

[2020-02-18 17:49] GroovinChip commented on #42
The status of this ticket is that we are waiting for a pull request to Mirador (https://github.com/ProjectMirador/mirador/pull/2942) to be merged. This PR addresses a blocking bug that prevents further investigation into using the sidebar.

It does seem that we will be able to use the sidebar to accomplish our goals in a more fleshed out  way than we thought.

[2020-02-18 17:59] markpatton commented on #43
Produced document to share, but have not shared.

 https://docs.google.com/document/d/1qgfjMoLMe_klWfnz__XF61yyO918AgFqYqwAN_pdXUs/edit#

[2020-02-18 19:27] htpvu commented on #42
@GroovinChip that's a great development.

While waiting for response from Mirador, couldyou document what you know about the Pop up approach for the record, as described in the ticket description?

[2020-02-19 16:16] cyork opened #66 "Design and implement service that gives web annotation of the underlying data."
Rough draft of the service, coded specifically for the specific pages

[2020-02-19 16:18] cyork opened #67 "Provide feedback for the first round of georeference data representation and end point"
Please review the proposed web annotation representation of Georeference data as described here https://docs.google.com/document/d/1BeyLcSTBnSCZnkYjeqHu-oTKuDfdSKvZGmBWdZ6YmLE/edit#.

Please note the section titled "Proposed use of Web Annotation" for some specific areas items/questions that should be considered when reviewing the proposal and giving feedback.

Please comment directly on the doc t

[2020-02-19 16:19] cyork opened #68 "Iterate on Georeference service"
re: Design and implement service that gives web annotation of the underlying data.

[2020-02-19 17:42] htpvu commented on #42
@GroovinChip Please document your findings and observation for this ticket here https://docs.google.com/document/d/1CmGSARROMQ_YTplQkm_BJS2Oq5jtvjZ5mwoPRnFixD0/edit

[2020-02-19 18:43] GroovinChip commented on #42
@htpvu document filled in

[2020-02-21 18:47] htpvu commented on #50
hi @jacobwegner I know we have discussed what work this ticket represents in the last meeting, but would you please add those details to the ticket at the time of closure for the record?

[2020-02-21 19:41] jacobwegner commented on #49
_Week of February 17th_

We've been working on modeling token-level data in ATLAS (see [scaife-viewer/sv-mini-atlas#7])(https://github.com/scaife-viewer/sv-mini-atlas/pull/7); hopefully we'll be able to ingest some of the token-level Homer data provided by Greg Crane early next week.

Supporting the data modeling and ingestion, we've also done some work to optimize the ingestion pipeline.

[2020-02-21 20:26] jacobwegner commented on #50
@htpvu: Per discussions with @jtauber, this is a duplicate of #49, as we'll end up ingesting morphological data at the token level.

[2020-02-25 18:23] GroovinChip commented on #42
Update: the pull request has been merged. I will be meeting with Jack at 2 PM today.

[2020-02-25 19:51] GroovinChip commented on #42
Via https://github.com/GroovinChip/RoseDemo-FrontEnd/pull/1 we can now display Web Annotations in the Mirador 3 sidebar

[2020-02-26 14:45] GroovinChip commented on #44
@jabrah and I plan to meet this afternoon to discuss this

[2020-02-26 14:54] cyork commented on #44
@GroovinChip Please record the ongoing discussion points in this document
https://docs.google.com/document/d/1AmQdS1M6_-I63tC9BlKAByXJg0m9hm7yapeo5simw-Q/edit

[2020-02-26 15:30] cyork opened #69 "Create mockups of how Homer multi-text data may be used/displayed and interacted with on Mirador viewer"

[2020-02-26 15:32] cyork commented on #69
Create screenshots to show this

[2020-02-26 15:33] cyork opened #70 "Investigate how to display different type of data in the sidebar"

[2020-02-26 15:49] GroovinChip commented on #70
Jack says it is possible to implement annotations filtering in the sidebar - see https://github.com/ProjectMirador/mirador/issues/2946. We need to comment our use case and how we would like to filter annotations. @markpatton Could you please give me some more specific info about this so I can get involved with that issue? Useful info would be specific categories of annotations, and specifically ho

[2020-02-26 15:50] GroovinChip commented on #70
Jack is not sure whether we can configure the default width if the sidebar. Requires further research.

[2020-02-27 06:36] jacobwegner commented on #49
_Week of February 24th_

Continued work on token-level data ingestion, now queryable via the https://mini-stack-a-spike-toke-t7jtur.herokuapp.com/graphql endpoint:

[code]

as cURL:
[code]

![image](https://user-images.githubusercontent.com/629062/75418224-8ed9e600-58f8-11ea-9812-649fcc3c0bc2.png)

We've also started some prototyping to support a couple of other  `Epic: SV-UC3` tickets:

- As a re

[2020-02-27 16:05] jabrah commented on #44
I've added sort of a brain dump of some info about Mirador plugins and the current WA plugin

[2020-02-28 15:22] #42 closed, assigned to GroovinChip

[2020-02-28 15:29] htpvu commented on #70
@GroovinChip Let's talk about this. It's not clear to me how getting involved in this mirador issue contribute to our goal for this ticket in particular and this project as a whole. maybe i'm missing something.

[2020-02-28 16:01] GroovinChip commented on #70
Sure, I can clarify that for you

On Fri, Feb 28, 2020, 10:29 AM Hanh Vu <notifications@github.com> wrote:

[2020-02-28 17:41] jacobwegner commented on #46
@markpatton: @htpvu let us know that we should target getting some translation data in front of you sooner than later.

Regarding the sentence level alignment, I think whatever Web Annotation / Annotations we come up with to help address the translation-focused user stories would be similar to what we worked on together last fall:

https://github.com/scaife-viewer/hmt-cite-atlas/pull/2#issuecommen

[2020-02-28 17:53] jacobwegner commented on #45
@markpatton following on from [my comment on #46](https://github.com/jhu-digital-manuscripts/AnIOp/issues/46), what kind of data "shape" would be useful?

We can work to have an English translation (like https://scaife.perseus.org/reader/urn:cts:greekLit:tlg0012.tlg001.perseus-eng4:1.1-1.160/) ingested into ATLAS, but only the alignment data in #46 would currently be linked to folios and canvas/fr

[2020-02-28 19:57] markpatton commented on #45
@jacobwegner

I agree that this seems redundant given the sentence level WA. I suggest we work off the sentence level WA first and see if anything else is needed.

[2020-02-28 19:59] jabrah commented on #44
The information I filled out in the document linked above summarizes the the topics Reuben and I discussed. I believe the topics we discussed is sufficient to catch me up on the project. I got a better understanding of the workings of the project and at least enabled me to follow conversations about the project.

I should have enough information now to be able to understand the context of issues i

[2020-03-02 14:31] GroovinChip commented on #70
Types of data that can be displayed (per https://github.com/jhu-digital-manuscripts/AnIOp/projects/1):

- Translation data
- Metrical data
- Named entity data
- Georeference data
- Audio data
- IIIF data
- Sentence-level translation data
- Word-level translation data

Currently, Web Annotation data can only be displayed as text in the annotation sidebar, per the out-of-the-box features of Mirador.

[2020-03-02 14:52] GroovinChip commented on #69
Using the plain text transcription from https://explorehomer-atlas-dev3.herokuapp.com/wa/urn:cite2:hmt:msA.v1:12r/translation-alignment/0/text/ I have made the following mockup of how I expect it to load in the sidebar:

![homer sidebar mockup](https://user-images.githubusercontent.com/4250470/75686995-1ada6d80-5c6b-11ea-9198-6371c5341869.png)

This follows the standard way that text annotations a

[2020-03-02 14:55] GroovinChip commented on #70
Per https://github.com/ProjectMirador/mirador/issues/2947 it appears we can customize the default width of the sidebar panel (this was a question Mark had, I believe). However, this requires modifying the Mirador source code and submitting a PR to them. I presume that this would be considered outside the scope of our work.

[2020-03-04 15:25] htpvu commented on #69
(ticket) Metadata associated with each WA: are there ways to display some part of the metadata on the sidebar along with WA? Specifically annotation types, so the user knows what he/she is looking at?

Screenshots of the hotspot linking between sidebar and canvas.

[2020-03-04 15:43] cyork commented on #66
Link to service - https://docs.google.com/document/d/1BeyLcSTBnSCZnkYjeqHu-oTKuDfdSKvZGmBWdZ6YmLE/edit

[2020-03-04 15:54] cyork opened #71 "Review Georeference service design document"

[2020-03-04 15:56] cyork opened #72 "Consume the georeference data and try to use it"

[2020-03-04 18:56] GroovinChip commented on #71
#66

[2020-03-04 19:57] GroovinChip commented on #69
@htpvu please let me know if you need more screenshots

Annotation hover:
![firefox_Lf0Dlv5Whu](https://user-images.githubusercontent.com/4250470/75917747-7c940680-5e28-11ea-8eff-404134efb8d7.jpg)
Annotation select:
![firefox_Pqh8Z8ZgEq](https://user-images.githubusercontent.com/4250470/75917755-8158ba80-5e28-11ea-830e-e6028f75194f.jpg)

[2020-03-05 14:39] #66 closed, assigned to markpatton

[2020-03-05 14:40] #43 closed, assigned to markpatton

[2020-03-05 14:42] #44 closed, assigned to GroovinChip, jabrah

[2020-03-11 18:36] GroovinChip commented on #72
I have not consumed the georeference data within Mirador yet - it's not really possible yet. The way things work at the moment is:
1. We get the ID of a given canvas, which is the iiif URL we have it
2. We reconstruct the iiif URL into a WA url, call that URL, get the annotations for that canvas from the result of calling the URL, and store those annotations in Mirador's state.

I spoke with Jack

[2020-03-11 18:39] GroovinChip commented on #71
I have read this document. The annotations look good to me. Per my update for #72, though, I cannot use them yet.

[2020-03-11 19:22] cyork opened #73 "BUG: endpoints not serving out annotation pages and collections"

[2020-03-12 14:12] markpatton commented on #73
Done.

[2020-03-12 14:12] #73 closed, assigned to markpatton

[2020-03-12 14:12] htpvu commented on #70
We can not display different data besides text on the sidebar.

We will need to investigate if annotation can be clicked on to popup a larger and more customizable viewing areas for other WA types.

We will need to investigate how to style the text annotation can be styled and format.

(2 weeks)

[2020-03-12 14:42] htpvu commented on #71
duplicate of #67

[2020-03-12 18:01] jacobwegner commented on #49
_Week of March 2nd_

@jacobwegner was out sick this week.  Our team wrote some integration tests to wrap up the ingestion pipeline work started week of February 17th.

[2020-03-12 19:53] htpvu commented on #69
@GroovinChip, is the image displayed of Homer Multi-text? Are the information on the side bar part of this annotation data? I really can't tell.

If they are not, then what would be really helpful is the mockups from these screenshots, but the the type of content and webannotations we will be dealing with. Could you review and update the ticket accordingly?

Ideally, i'd like a mock up detailed en

[2020-03-12 20:04] GroovinChip commented on #69
The images displayed in these screenshots are from the Mirador demo page, as you had requested at the meeting last week. They are not from our own project.

What is the level of priority between this, #70 and #72? Right now #70 is what I'm focusing on the most because once I can successfully show a popup when annotations are clicked, everything else becomes much easier to do.

[2020-03-13 14:04] jabrah opened #74 "Thumbnails don't show up in M3 demo viewer?"
![image](https://user-images.githubusercontent.com/5167587/76627444-6a455700-6511-11ea-8fb4-00d99221c1e2.png)

Mirador doesn't seem to throw errors.

[2020-03-13 16:26] jabrah commented on #69
I'm just playing around with some ideas and will continue to add to this document periodically. I'm basically taking the approach of something that may look acceptable, but may not necessarily be technically feasible in Mirador. For example I still want to imagine what georef data may look like in Mirador.

https://docs.google.com/document/d/1R0yoNueWqhhxtsvfPKQwT2fr2jdp8QYXaR1utqg7AdI/edit?usp=sh

[2020-03-13 16:38] GroovinChip commented on #74
I remember looking into this a while ago but I don't remember what I found out. I vaguely recall it had something to do with what Mirador expects from the thumbnail but I don't remember

[2020-03-18 20:24] jacobwegner commented on #67
I've just left some feedback from the Eldarion team.  Just to summarize:

- We think that focusing this annotation on places and leaving #54 for persons may result in a more straightforward implementation for a client.
- Mapping _TextPositionSelector_ values to the English translation (https://scaife.perseus.org/reader/urn:cts:greekLit:tlg0012.tlg001.perseus-eng4:2.480-2.840/) would make the annot

[2020-03-18 20:27] jacobwegner commented on #67
(and we're happy to discuss any possible mapping approaches further on a call or in Slack)

[2020-03-24 15:15] markpatton commented on #67
Useful feedback. I've updated the google doc with some followup.

[2020-03-24 15:20] markpatton commented on #68
At the moment things to fix look like:
- Incorrect construction of CTS URNs to English translation
- Use CTS URNs to exact targeted phrase.
- Consider pleiadies URI to service instead of website. Think about how to indicate it is a service.

[2020-03-24 21:06] jabrah opened #75 "Georeference web annotation has incorrect IIIF canvas ID"
The SpecificResource that is supposed to be pointing to a bad canvas ID. It looks very close to the actual URL that it should be using, except with an index number appended. `"https://rosetest.library.jhu.edu/rosademo/iiif/homer/VA/VA034VN-0536/canvas/1`

Sample from the georef service:

[code]

[2020-03-25 14:12] markpatton commented on #75
Good catch. Will fix.

[2020-03-25 19:11] markpatton commented on #74
It must not l like the thumbnails in the IIIF Collection.

[2020-03-25 19:40] cyork opened #76 "Give feedback on John's document from #69 for next week meeting on 4/1"
**document for review:**
@GroovinChip
https://docs.google.com/document/d/1R0yoNueWqhhxtsvfPKQwT2fr2jdp8QYXaR1utqg7AdI/edit?usp=sharing

[2020-03-26 12:03] markpatton commented on #46
@jacobwegner

Sorry for not getting back to you sooner. This looks good to me. I wonder if there is a need to distinguish the translation from the transcription, but I will leave that question to people working on the user interface side.

[2020-03-26 13:41] jabrah commented on #46
I would prefer having `next`/`prev` property values use the full absolute URL, instead of just the path, as it seems to currently use. This way the other AnnotationPage is immediately resolvable without messing with URLs.

For example, `"next": "https://explorehomer-atlas-dev3.herokuapp.com/wa/urn:cite2:hmt:msA.v1:34v/translation-alignment/collection/html/1/"` instead of `"next": "/wa/urn:cite2:hm

[2020-03-27 13:47] markpatton commented on #76
Done.

[2020-03-27 15:52] markpatton commented on #75
Fix deployed.

[2020-03-27 15:52] #75 closed, assigned to markpatton

[2020-03-27 18:31] GroovinChip commented on #46
I agree with John, otherwise looks good to me

[2020-03-27 18:35] GroovinChip commented on #69
I've read this now @htpvu. No particular comments at the moment.

[2020-03-30 21:42] jabrah commented on #74
It seems that if we change the thumbnail definitions from the IIIF image URL to a static image, it may work in the manifest list. For example:

[code]

to

[code]

I changed the `thumbnail['@id']` property on the Manifest to the latter and Mirador was able to do a thing.

![image](https://user-images.githubusercontent.com/5167587/77964630-605f7a00-72ad-11ea-840c-ac42b71079b0.png)

I'm not sure how

[2020-03-31 14:46] jabrah commented on #74
Some more details:

Mirador 3 picks up the manifest's thumbnail (the one displayed on the left side of the title in the screenshot above) in this manifest selector: <https://github.com/ProjectMirador/mirador/blob/master/src/state/selectors/manifests.js#L211-L242>

The selector is used in the ManifestListItem container component <https://github.com/ProjectMirador/mirador/blob/master/src/containers/

[2020-03-31 18:38] markpatton commented on #74
Right. According to the specs the id should be to a full image. Then a service block can have the iiif image service. I can add this onto the bug fixes I'm doing.

[2020-04-01 14:13] markpatton commented on #74
Interesting that for Mirador 2, the above works. Maybe because of our customizations?

[2020-04-01 14:38] jabrah commented on #74
Going back to some random Mirador 2 branch in the official Mirador repo, it seems that the older viewer does prefer to use the IIIF service when available, over simply using the thumbnail ID (<https://github.com/ProjectMirador/mirador/blob/release-2.x/js/src/manifests/manifest.js#L106>). This differs from the behavior of the new viewer (<https://github.com/ProjectMirador/mirador/blob/master/src/st

[2020-04-01 16:34] jacobwegner commented on #54
We've ingested person named entities for the first twenty lines of the Iliad.

I've documented some of the relevant GraphQL queries and proposed how we might construct a web annotation here:

[Building a Web Annotation for Named Entity Data in ATLAS](https://docs.google.com/document/d/1A9MKZxv1d1xwd6aZFeg2ZjKHDIShN5ZzPUi_PJAzlP0/edit?usp=sharing)

[2020-04-01 18:06] markpatton commented on #68
Close to having this done. I need some feedback from @jabrah about the Pleiades URI.

[2020-04-01 18:32] markpatton commented on #68
Deployed update which fixes the CTS URNs.

[2020-04-01 18:40] markpatton commented on #74
I switched the thumbnails, and things work somewhat. In the manifest browser thumb on the left in the manifest browser works, but on the right there is an empty square.

Also looks like the test deployment is using iiif 3 instead of 2. Probably should be switched to 2.

[2020-04-01 19:25] htpvu commented on #54
@markpatton @jabrah @GroovinChip please review.

[2020-04-01 19:28] markpatton opened #77 "Figure out how to correctly map Georeference annotations to IIIF resources"
Complicated because the annotations target an English translation of Homer while the IIIF resources are the Greek manuscript. Right now the mapping is done heuristically.

[2020-04-01 20:09] jabrah commented on #74
Must be something up with the test deploy. The manifest level thumbnails seem to be working now in my local dev instance

![image](https://user-images.githubusercontent.com/5167587/78181845-05f02600-7433-11ea-8be4-1cb3256dcd8f.png)

[2020-04-01 20:49] jabrah opened #78 "Create an annotation discovery service?"
Our IIIF resources currently don't have any direct references to the various web annotation endpoints that we want to associate. The custom Mirador plugin currently has to rely on some "magic strings" to be able to create URLs to these services. This doesn't seem like a good linked-data way of handling these associations.

I think a fairly nice way would be to point the IIIF resources to an extern

[2020-04-03 06:40] jabrah opened #79 "Plan Mirador plugin development"
https://docs.google.com/document/d/1FkWoD0NxULTJpaWBbBjgA8KeyPstvgL-qMduOm5hBeo/edit?usp=sharing

[2020-04-03 20:56] jacobwegner commented on #46
I've broken out some of the information from this PR into a document that I think we can use to document any of the WAs built up for this project:

[AniOp ATLAS Documentation](https://docs.google.com/document/d/1XB0vYGxY1M420lmpJhLe2M3IfzcOQwBYFiwKGaDQ9ug/edit#)

The _aniop-atlas-staging.eldarion.com_ domain should be stable from here on out, and we'll treat it like a production instance; we can p

[2020-04-03 20:59] jacobwegner commented on #46
@GroovinChip and @jabrah: The `next` and `prev` links were an oversight, as I think we'd discussed that before.

They will now include the full absolute URL as requested:

https://aniop-atlas-staging.eldarion.com/wa/urn:cite2:hmt:msA.v1:49r/translation-alignment/collection/html/0/

[code]

[2020-04-03 21:01] jacobwegner commented on #78
@jabrah: we had some prior discussion about this last fall:

https://github.com/jhu-digital-manuscripts/AnIOp/issues/37

[2020-04-03 21:03] jacobwegner commented on #77
@markpatton: I'd be happy to work alongside you on this if you'd like

[2020-04-03 21:26] jabrah commented on #78
Ah, thanks for pointing me there

[2020-04-03 21:26] #78 closed, assigned to nobody

[2020-04-07 12:19] #74 closed, assigned to markpatton

[2020-04-07 14:15] markpatton commented on #77
@jacobwegner That would be great. I've been looking at the homer multitext cex files because I can go from that to the IIIF canvas (the image ids are close).

The question is how to go from cts:greekLit:tlg0012.tlg001.perseus-eng4:2.585 to a line in the Greek manuscript and then find the image. Is the line urn:cts:greekLit:tlg0012.tlg001.msA:2.585?

I see this in the CEX files.
[code]

So it looks

[2020-04-07 15:34] jabrah commented on #71
Could we include some extra data to link the Pleiades URL to its associated JSON data? For example, an identifying URL in one of the annotations is `http://pleiades.stoa.org/places/570527` and its JSON endpoint is `http://pleiades.stoa.org/places/570527/json`. We could add this as a `seeAlso` property on the annotation.

[code]

Including this explicitly in the annotation would prevent the client

[2020-04-07 22:55] cyork opened #80 "Connecting georeference WA of English translation with IIIF WA of the Greek text"
Correlation of different types of data manually.

[2020-04-08 14:05] markpatton commented on #80
Pretty much the same as #77

[2020-04-08 14:16] markpatton commented on #71
We could use seeAlso. It is part of the vocabulary with namespace http://www.w3.org/1999/02/22-rdf-syntax-ns# which is set in the IIIF context. If we followed our current pattern, we could just set it in our included context.

Another alternative is to use the service endpoint directly as the external resource id with a format of application/json. I'd be curious if @jacobwegner has any thoughts.

[2020-04-08 19:16] markpatton commented on #54
John and I left comments on the google doc.

[2020-04-09 11:21] jacobwegner commented on #71
I'm open to either approach, but I prefer the idea of using the service endpoint directly.

The "identifying url" supports content negotiation:

[code]

So we might also consider:

[code]

[2020-04-09 11:22] jacobwegner commented on #77
@markpatton sorry for the delay; been working on a couple of things that I think can help support this.

Hope to have an update by mid-day.

[2020-04-10 12:20] jacobwegner commented on #54
@markpatton and @jabrah: I've got the first iteration of the named entity annotation deployed and documented in [AniOp ATLAS Documentation](https://docs.google.com/document/d/1XB0vYGxY1M420lmpJhLe2M3IfzcOQwBYFiwKGaDQ9ug/edit?usp=sharing
).

I tried to follow the structure of the Georefernce annotation (https://rosetest.library.jhu.edu/rosademo/wa/homer/VA/VA035RN-0036/canvas), but like the transla

[2020-04-10 12:48] jacobwegner commented on #77
@markpatton: I've added a section **Text Parts Map** to the [AniOp ATLAS Documentation](https://docs.google.com/document/d/1XB0vYGxY1M420lmpJhLe2M3IfzcOQwBYFiwKGaDQ9ug/edit#heading=h.o046cjy2pvtb).

It shows how to query ATLAS for a particular passage in the barber translation and receive annotated tokens with their CTS subreferences calculated.

[This query](https://aniop-atlas-staging.eldarion.c

[2020-04-10 12:50] jacobwegner commented on #77
@markpatton: @jtauber has also reached out to Chiara to see if she'd be willing to build a georeference annotation on the greek translation, which would be much easier to map back to folios and likely would allow us to get at least "line-level" fragment selectors, like we have with the translation alignment annotation

[2020-04-13 14:39] markpatton commented on #77
@jacobwegner  Ok. Interesting. I'll also pursue my current path and see if I turn out anything that is correct. Will have to have one of you guys review. I can't quite tell.

[2020-04-13 14:47] markpatton commented on #71
@jacobwegner In fact we can model that the client should set an Accept header. See https://www.w3.org/TR/annotation-model/#request-header-state

[2020-04-13 20:47] jabrah opened #81 "Style the custom annotation components"
### Tasks

The following needs to be done with the annotation components:

* The React components should likely be modified to show information that needs to be shown
* The components need to be styled to look nice, while matching the look and feel of Mirador.
  * My preference would be to emulate the broader Mirador ecosystem and use [Material-UI](https://material-ui.com/) components in our custo

[2020-04-13 21:20] jabrah opened #82 "Augment plugins to be able to map annotation IDs to annotations that target them"
Some of our annotations can target annotations. This is not normally handled by Mirador. In order to act on this, we should be able to map annotations to a list of annotations that target it. As far as I can currently tell, this can be done in one of two ways:

1) Custom reducer that can create this mapping and add it to the application state. This would then require a custom selector to retrieve

[2020-04-14 21:04] jacobwegner commented on #71
@markpatton I'm fine with either:

1) What you've deployed using request header state (great find by the way!)

[code]
or

2) Multiple bodies

[code]

`HttpRequestState` seems a better way to indicate how to retrieve the JSON content than in my previous content

To @jabrah's point, there is still some work for a client to parse the content, but using one or the other of the above implementations m

[2020-04-14 21:09] jacobwegner commented on #71
(whatever format we decide on, I'm happy to mirror it within the ATLAS Named Entity annotation for the Wikipedia URLs, as far as an HTML or JSON representation)

https://explorehomer-feature-na-4qbljt.herokuapp.com/wa/urn:cite2:hmt:msA.v1:12r/named-entities/0/compound/

[2020-04-14 21:10] jacobwegner commented on #77
@markpatton is https://rosetest.library.jhu.edu/rosademo/wa/homer/VA/VA035RN-0036/canvas/annotation/0 the latest annotation?  I saw you mentioned in Slack that you were hoping to correct the "the mapping to IIIF canvases."

Was that the CTS URNs with subrefs, or something else?

[2020-04-15 03:31] #70 closed, assigned to GroovinChip, jabrah

[2020-04-15 03:32] #72 closed, assigned to GroovinChip

[2020-04-15 04:10] #67 closed, assigned to jtauber, jacobwegner, jabrah

[2020-04-15 04:13] htpvu commented on #80
duplicate ticket. closing

[2020-04-15 04:13] #80 closed, assigned to markpatton

[2020-04-15 19:10] cyork opened #83 "Discuss plan for integrating WA into M3 prior to speaking to Chiara about testing"
Development approach is described in [this document](https://docs.google.com/document/d/1FkWoD0NxULTJpaWBbBjgA8KeyPstvgL-qMduOm5hBeo/edit#)

[2020-04-15 19:33] markpatton commented on #54
@jacobwegner

Looking through them these make sense to me and look correct.

[2020-04-15 20:33] GroovinChip commented on #81
So basically we're looking at font, text color, and padding/margin, right @jabrah?

[2020-04-15 20:48] jabrah commented on #81
@GroovinChip At a minimum, sure. But also feel free to redo the JSX in the components. Like if you want to restructure how things are setup with different or extra components or anything, those kinds of changes should be good. If we need to change `props` set in various components, we should talk about that, but that should be fine too

[2020-04-15 21:42] cyork opened #84 "Create new React component to display an annotation: Annotation component"
[Required] Component will render text content
[Required] Link to web page that “identifies” the annotation. Link should open new browser tab (instead of opening in place)
[Required] Display sentence level translations from Eldarion

assigning this to JAbrahams, but may be directed to another developer

context:
https://docs.google.com/document/d/1FkWoD0NxULTJpaWBbBjgA8KeyPstvgL-qMduOm5hBeo/edit#

[2020-04-15 21:44] cyork opened #85 "Augment the 'fetcher' plugin's container to set relationships in application state - capture annotations + annotations that target them"
assigning to JAbrahams, for now.

[2020-04-15 21:47] cyork opened #86 "Decorate the Annotation to show annotations that target it"
**_This will be the difficult bit!_**

- How about having the React model include the annotation (the subject) and all annotations that target it? This way if another annotation is loaded that targets the subject annotation, this model will also be updated and React will re-render to update the DOM.

- Will likely have to be able to directly modify React component HTML if we want to use the TextQu

[2020-04-16 02:34] htpvu opened #87 "Make a new component to render a map based on georeference data"
Requests to Pleiades links that use ‘Content-Accept: application/json’ header will return JSON data

https://docs.google.com/document/d/1FkWoD0NxULTJpaWBbBjgA8KeyPstvgL-qMduOm5hBeo/edit#

[2020-04-16 14:06] #79 closed, assigned to jabrah

[2020-04-16 14:14] jabrah commented on #84
At this point, all the  above required data is technically able to be displayed. I still need to do some work in order to dynamically resolve the sentence level translation annotations from Eldarion's endpoint. Will try generating CTS URNs from the canvas name first.

[2020-04-20 15:36] GroovinChip commented on #81
@htpvu @jabrah Updates:
- Made font in our custom panel match the default Mirador font (Roboto)
- Made padding in our custom panel match that of the default panel

Is there anything else that needs to be done @jabrah?

Screenshot:

![Sdp9wLVXyl](https://user-images.githubusercontent.com/4250470/79769998-ce222300-82fa-11ea-9a3f-5a81c6d80f53.png)

[2020-04-20 19:39] #68 closed, assigned to markpatton

[2020-04-20 19:39] #71 closed, assigned to GroovinChip

[2020-04-20 19:41] #77 closed, assigned to markpatton

[2020-04-20 22:52] jacobwegner commented on #55
@markpatton @GroovinChip @jabrah

We've built an initial web annotation linking lines in the Venetus A with audio recordings., documented within

[AniOp ATLAS Documentation](https://docs.google.com/document/d/1XB0vYGxY1M420lmpJhLe2M3IfzcOQwBYFiwKGaDQ9ug/edit#heading=h.tzoyys309amw).

As always, any feedback is welcome!

[2020-04-21 14:43] jabrah commented on #81
I think it would be helpful to also adjust the content displayed for annotations in a separate PR, at least for the georeference annotations.

I have a crappy mockup here, but please don't feel restricted by this.
![image](https://user-images.githubusercontent.com/5167587/79879278-78ae4a80-83bc-11ea-946a-021042e3b7bb.png)

I think it is important to display the information from all of the annotati

[2020-04-21 14:49] GroovinChip commented on #81
I'm not clear on this - you want the labels like "Creator" etc to be italicized?

[2020-04-22 15:02] jabrah commented on #85
Fetcher plugin now has a reducer to add a map of our annotations: https://github.com/jhu-digital-manuscripts/rosademo-frontend/blob/display-eldarion-annos/src/plugins/jh-annotation-fetch-plugin/reducers.js

This is coupled with a new selector for the annotation sidebar plugin that will read this annotation map from state, creating a new mapping of visible annotations to annotations that target the

[2020-04-22 15:02] #85 closed, assigned to jabrah

[2020-04-22 15:02] #84 closed, assigned to jabrah

[2020-04-22 15:05] jabrah commented on #86
Now that a map is created by a custom selector, it's pretty straightforward to display targeted annotations. https://github.com/jhu-digital-manuscripts/rosademo-frontend/blob/display-eldarion-annos/src/plugins/jh-annotations-panel/components/annotation.js#L79-L93

![image](https://user-images.githubusercontent.com/5167587/79998736-12432e00-8489-11ea-99dc-3172c1428acb.png)

[2020-04-22 15:05] #86 closed, assigned to jabrah

[2020-04-22 19:06] #82 closed, assigned to jabrah

[2020-04-22 19:51] jabrah commented on #81
Some concrete changes we can make right now:

* [x] Remove the string "Label: " and display just the value
* [x] For both "Comments", "Tag", and "Creator" parts (if they are rendered)
  * [x] Label text should be on separate lines and italicized (like the "Comments: " string seen above)
  * [x] Value should be on its own line and indented for readability

[2020-04-22 20:13] jabrah opened #88 "Think about layout/design of the annotations in our custom Mirador side panel"
Consider the different type of Web Annotations (namely, georeference, translation/transcription and named entity), please come up with proposal on how these WAs should be displayed to optimize the user experience.

Some ideas

_in progress_

* Show only transcription/translation annotations in the sidebar, other annotations (that target the transcription/translation) can be hidden initially?
* Ann

[2020-04-23 09:26] jacobwegner commented on #48
Resolved via [https://github.com/scaife-viewer/explorehomer-atlas/pull/29
explorehomer-atlas/pull/29](https://github.com/scaife-viewer/explorehomer-atlas/pull/29).

This allows us to link ROI information to the other annotations.

[2020-04-23 09:26] #48 closed, assigned to nobody

[2020-04-23 09:35] jacobwegner commented on #51
As documented in [AniOp ATLAS Documentation](https://docs.google.com/document/d/1XB0vYGxY1M420lmpJhLe2M3IfzcOQwBYFiwKGaDQ9ug/edit), the `TextAnnotations` endpoint can be used to retrieve scholia.

Eldarion could help to craft a Web Annotation with fragment selectors similar to what has been done in the translation alignment annotation.

[2020-04-23 09:35] #51 closed, assigned to nobody

[2020-04-23 09:49] jacobwegner commented on #45
Resolved by [explorehomer-atlas/pull/26](https://github.com/scaife-viewer/explorehomer-atlas/pull/26)

As documented in [AniOp ATLAS Documentation](https://docs.google.com/document/d/1XB0vYGxY1M420lmpJhLe2M3IfzcOQwBYFiwKGaDQ9ug/edit), the Passage Text Parts endpoint can be used to retrieve passages from the English translations.

[2020-04-23 09:49] #45 closed, assigned to jtauber

[2020-04-23 10:00] jacobwegner commented on #46
Resolved by [explorehomer-atlas/pull/30](https://github.com/scaife-viewer/explorehomer-atlas/pull/30)

Translation Alignments have been documented within [AniOp ATLAS Documentation](https://docs.google.com/document/d/1XB0vYGxY1M420lmpJhLe2M3IfzcOQwBYFiwKGaDQ9ug/edit).

[2020-04-23 10:00] #46 closed, assigned to jacobwegner

[2020-04-23 10:15] jacobwegner commented on #54
Resolved by [explorehomer-atlas/pull/31](https://github.com/scaife-viewer/explorehomer-atlas/pull/31)

The Named Entities web annotation has been documented within [AniOp ATLAS Documentation](https://docs.google.com/document/d/1XB0vYGxY1M420lmpJhLe2M3IfzcOQwBYFiwKGaDQ9ug/edit).

[2020-04-23 10:15] #54 closed, assigned to nobody

[2020-04-23 10:31] jacobwegner commented on #55
Resolved by [explorehomer-atlas/pull/33](https://github.com/scaife-viewer/explorehomer-atlas/pull/33)

The Audio Annotations web annotation has been documented within [AniOp ATLAS Documentation](https://docs.google.com/document/d/1XB0vYGxY1M420lmpJhLe2M3IfzcOQwBYFiwKGaDQ9ug/edit).

Happy to revisit the structure of the annotation based on further feedback from the JHU team.

[2020-04-23 10:31] #55 closed, assigned to nobody

[2020-04-23 10:35] jacobwegner commented on #53
This will involve parsing JHU's georef data and mapping back to ATLAS NamedEntities

[2020-04-23 10:42] jacobwegner opened #89 "Get feedback from the JHU team on how ATLAS is serving WAs"
@jabrah wrote in Slack:

Here are some things I've been wondering for the web annotations being served by ATLAS:

- Is it helpful to have both text (https://aniop-atlas-staging.eldarion.com/wa/urn:cite2:hmt:msA.v1:12r/translation-alignment/0/text/) and html (https://aniop-atlas-staging.eldarion.com/wa/urn:cite2:hmt:msA.v1:12r/translation-alignment/0/html/) bodies?
- If so, should we just combine m

[2020-04-23 21:24] jabrah commented on #89
The current iterations of the JHU georeference annotations and ATALS' sentence level translation alignment annotations are functional in the custom Mirador 3 (M3) plugin. Some very specialize knowledge of CTS URNs as well as some fun hacks were needed to get then to show as they do.

To address your questions

* _Helpful to maintain both plain text and HTML annotation bodies?_ I think it is fine t

[2020-04-24 18:53] jacobwegner commented on #52
Resolved by [explorehomer-atlas/pull/34](https://github.com/scaife-viewer/explorehomer-atlas/pull/34)

Information on querying metrical data via GraphQL has been documented within [AniOp ATLAS Documentation](https://docs.google.com/document/d/1XB0vYGxY1M420lmpJhLe2M3IfzcOQwBYFiwKGaDQ9ug/edit).

[2020-04-24 18:53] #52 closed, assigned to nobody

[2020-04-24 19:27] jacobwegner opened #90 "Annotations that target annotations: named entities, georeference, etc"
(Branched from #89)

@jabrah wrote:

[code]

[2020-04-24 19:28] jacobwegner commented on #89
@jabrah I opened a new issue to discuss annotations targeting other annotations, (#90  cc: @markpatton ), just so I can keep discussion here to your feedback about "discovery"

[2020-04-24 19:50] jacobwegner commented on #90
@jabrah  The current plugin parses the CTS URN to guess at the intended target annotation, which may not always be correct

I'll take another look at the URNs in the Georeference WA.

Part of the issue is that the subreferences from that WA are targeting a different translation ("Barber", [perseus-eng4:](https://scaife.perseus.org/reader/urn:cts:greekLit:tlg0012.tlg001.perseus-eng4:1.1/)) than the

[2020-04-24 19:52] jacobwegner commented on #90
@jabrah One other note...I had been thinking about dropping the `text` version of the translation alignment annotation (as discussed on #89).

If we're going to use the `TextQuoteSelector`, would that work well enough for you with the HTML version of the translation alignment annotation?

[2020-04-24 20:22] jacobwegner commented on #89
@jabrah So absent a full-fledged discovery service, how does this sound?

1) We add a new endpoint `/wa/discovery/`
2) Pass the canvas id via a `?canvas_id` param...e.g. `/wa/discovery/?canvas_id=https://rosetest.library.jhu.edu/rosademo/iiif3/homer/VA/VA012RN-0013/canvas`
3) We return a payload

What would you like that payload to look like?

[code]

or something else?

[2020-04-24 22:04] jacobwegner commented on #47
We're preparing to complete a world level translation alignment of the first ~20 lines of the Iliad.

[2020-04-24 22:36] jabrah commented on #90
I don't know about the content itself, so it's useful to have these sorts of insights,

* At the moment, my preference would be for targeting the translation alignment web annotations, since this would be directly usable by the plugin without interpretation, given that it currently renders the translation alignment annotations.
  * There could be some interesting interactions bringing in a single

[2020-04-27 19:07] jacobwegner commented on #90
I agree it'd be nice to have, but out of scope; we'd really need a new alignment for the Barber english translation to the Greek for that to work.

I'll work on updating our alignments as you've suggested this week:

- [ ] Add targets to the Translation Alignment WA
- [ ] Add [**TextQuoteSelector**](https://www.w3.org/TR/annotation-model/#text-quote-selector)s

[2020-04-27 20:50] jacobwegner commented on #77
@markpatton Just to follow up here; I think you've made another pass at attempting to get the Recogito data mapped onto the correct canvases from the HMT data.

I don't know if you had done anything yet to try and update the CTS subrefrences, but I wanted to walk through one of the annotations below:

[code]

`2.550` isn't a valid text part ref in the Barber translation (`perseus-eng4`) (which was

[2020-04-27 20:51] jacobwegner commented on #77
(As far as how we'd work internally to make use of the georeference annotations, the CTS subreferences are easier for us to resolve, but we can certainly map the `TextQuoteSelector` for the Barber translation over to those subreferences)

[2020-04-28 17:21] markpatton commented on #89
@jacobwegner @jabrah

One thought looking at this the need to normalize on IIIF 2 vs IIIF 3. On our side we normalized on IIIF 2 because of delays with IIIF 3, but probably forgot to communicate that fact. Sorry about that! So our web annotation service is pointing to uris using /iiif/ instead of /iiif3/. And now the mirador viewer is using IIIF 2. If you have already used the IIIF 3 URIs and its

[2020-04-29 20:06] cyork opened #91 "Inform the sysadmin about the demo dates so they don’t bring things down during the demo"

[2020-04-29 20:07] cyork opened #92 "Write message based on conversation with John and send to Chiara"

[2020-04-30 14:07] jabrah commented on #89
The proposed discovery service looks good to me as well. I do agree with Mark about the `/iiif/` vs `/iiif3/` URIs

[2020-04-30 16:02] jacobwegner commented on #89
Understood about IIIF3; I've changed the URIs within the ATLAS annotations to match.

Will try to have something done with the new TextQuoteSelectors and the discovery service by the end of the week.

[2020-04-30 17:11] jacobwegner commented on #89
@jabrah:

I've got a preview instance that is set up with the discovery endpoint:

https://explorehomer-feature-wa-jm1koi.herokuapp.com/wa/discovery/?canvas_id=https://rosetest.library.jhu.edu/rosademo/iiif/homer/VA/VA035RN-0036/canvas

- translation alignments
- audio annotations

https://explorehomer-feature-wa-jm1koi.herokuapp.com/wa/discovery/?canvas_id=https://rosetest.library.jhu.edu/rosadem

[2020-05-01 09:23] jacobwegner commented on #47
The alignment has been completed and can be previewed at the URL below:

https://explorehomer-spike-duca-vvdeig.herokuapp.com/ducat/?urn=urn:cts:greekLit:tlg0012.tlg001.perseus-grc2-tokens:1&urn=urn:cts:greekLit:tlg0012.tlg001.perseus-eng3-tokens:1

We'll be working next week to ingest the data into ATLAS and to add a sample query to [AniOp ATLAS Documentation](https://docs.google.com/document/d/1

[2020-05-01 09:26] jacobwegner commented on #49
Resolved by [explorehomer-atlas/pull/38](https://github.com/scaife-viewer/explorehomer-atlas/pull/38)

Information on querying the morphosyntactic token annotations (lemma, part of speech tag, etc) via GraphQL has been documented within [AniOp ATLAS Documentation](https://docs.google.com/document/d/1XB0vYGxY1M420lmpJhLe2M3IfzcOQwBYFiwKGaDQ9ug/edit).

[2020-05-01 09:26] #49 closed, assigned to jacobwegner

[2020-05-01 09:29] jacobwegner commented on #90
@jabrah as an update, I wasn't able to get to the target and TextQuoteSelector changes this week, but plan on picking it back up next week.

(Unlike #89, there shouldn't be any backwards incompatible changes)

[2020-05-01 09:52] jacobwegner commented on #59
This will look similar to [the mockups discussed on #49](https://github.com/jhu-digital-manuscripts/AnIOp/issues/49#issuecomment-591807952)

![image](https://user-images.githubusercontent.com/629062/80797489-92435500-8b67-11ea-87bd-c4d9aa766323.png)

[2020-05-04 13:21] GroovinChip commented on #81
I will be working on this today

[2020-05-04 18:09] GroovinChip commented on #81
@jabrah the 'comment' tag generally seems to be within parenthesis, is that correct? See screenshot:
![chrome_gZ88FFOifO](https://user-images.githubusercontent.com/4250470/80998330-c9885f00-8e10-11ea-98e8-1842116f5602.png)

[2020-05-04 18:45] jabrah commented on #81
We should get rid of the parenthesis here and capitalize the 'c' in "comment". I think it's inserted in the AnnotationBody component.

[2020-05-05 14:57] GroovinChip commented on #81
@jabrah How's this:
![chrome_c6Ym5BysAc](https://user-images.githubusercontent.com/4250470/81080782-26425300-8ebf-11ea-8972-e67bc34cb6e5.png)
Do you have any preference on indentation? I'm currently doing 8px

[2020-05-06 02:50] htpvu commented on #83
duplicate if #92

[2020-05-06 02:50] #83 closed, assigned to jabrah, htpvu

[2020-05-06 13:31] jabrah commented on #81
I don't have a preference on indentation. The screenshot looks good to me

[2020-05-06 19:05] GroovinChip commented on #81
Closed by https://github.com/jhu-digital-manuscripts/rosademo-frontend/pull/9

[2020-05-06 19:05] #81 closed, assigned to GroovinChip

[2020-05-07 21:48] jacobwegner commented on #47
Refs by [explorehomer-atlas/pull/36](https://github.com/scaife-viewer/explorehomer-atlas/pull/36)

Information on querying for word-level translation alignments via GraphQL has been documented within [AniOp ATLAS Documentation](https://docs.google.com/document/d/1XB0vYGxY1M420lmpJhLe2M3IfzcOQwBYFiwKGaDQ9ug/edit).

[2020-05-07 21:48] #47 closed, assigned to nobody

[2020-05-08 16:19] GroovinChip commented on #88
https://github.com/jhu-digital-manuscripts/rosademo-frontend/pull/12 puts translation and georeference annotations inside expansion panels that are collapsed by default. Screenshot:
![chrome_h6S73Exia9](https://user-images.githubusercontent.com/4250470/81425736-28f2b180-9126-11ea-898c-394ef4e384d9.png)

[2020-05-15 19:25] jacobwegner commented on #60
The _Token Annotations_ widget is viewable at
https://explorehomer-dev.scaife-viewer.org/reader?urn=urn%3Acts%3AgreekLit%3Atlg0012.tlg001.perseus-grc2%3A1.1-1.7

[2020-05-15 19:25] #60 closed, assigned to nobody

[2020-05-18 17:24] cyork opened #93 "Identify where to find information to drive map"
The WA will have Longitude and Latitude coordinate that will help drop a pinpoint on a map to be displayed.

**From previously shared information to Reuben from John:**
We could add a "map" component, or otherwise make use of the Pleiades data in a way that isn't just a simple clickable link.

[2020-05-18 17:26] cyork opened #94 "Identify a 3rd party map service which can be wrapped in a React component that mirador can use."
Identify a 3rd party map service that we can use (OpenStreetMap, MapBox), which provides a JS library which produces maps, which can be wrapped in a React component that mirador can use.
Need API Key: should never be save to GH.

[2020-05-18 17:28] cyork opened #95 "Create component to run along side the geo-reference data:to display the map"
distilled from information previously shared with Reuben by John.

[2020-05-18 17:38] jabrah commented on #93
A bit more detail: The georef annotation has one body that has a purpose of _identifying_ which has a URL to a page in Pleiades. If we were to issue a request at the URL provided, using content negotiation, we should be able to retrieve the JSON data with the long/lat coordinates.

In this request, including the following header is enough to make this happen: `Accept: application/json`

In the spe

[2020-05-18 18:36] jabrah commented on #94
Could check out:

* https://react-leaflet.js.org/ (never used this one, but it looks interesting)
* https://www.mapbox.com/ (has a free tier with limits, this was fairly easy to use when I tried several years ago)

There are likely others that I don't know about

[2020-05-18 19:21] jabrah opened #96 "Update Mirador dependency"
A new beta version of Mirador 3 has recently been released that includes support for a custom side panel. This custom panel looks to be an easier integration than our current plugin, possibly with some drawbacks. Should do the upgrade regardless, then separately investigate this new custom side panel.

https://github.com/ProjectMirador/mirador/releases/tag/v3.0.0-beta.9

[2020-05-18 22:13] jabrah commented on #96
I ended up playing around with this beta outside of the context of this project because I'm easily distracted. I think that we should first update the mirador dependency, then update our Mirador plugin to follow this standard. With this new paradigm, we would add a new sidebar panel, instead of overwriting one of the built-in panels. This will also give us flexibility to add more panels easily, if

[2020-05-19 13:09] GroovinChip commented on #94
Mapbox requires an account to use. I will look for others.

[2020-05-19 17:14] GroovinChip commented on #93
I am able to retrieve the JSON data for the maps.

[2020-05-19 17:14] #93 closed, assigned to GroovinChip

[2020-05-19 17:17] GroovinChip commented on #94
I am currently using https://github.com/mariusandra/pigeon-maps. Doesn't require an API key, is very easy to use. Renders a basic map via OpenStreetMaps.

[2020-05-19 17:17] #94 closed, assigned to GroovinChip

[2020-05-19 17:20] GroovinChip commented on #95
As mentioned in #94 I am using https://github.com/mariusandra/pigeon-maps. See results below:
![chrome_lXNTpC2SP6](https://user-images.githubusercontent.com/4250470/82357465-2bc98e00-99d3-11ea-8eb8-0a60fae15234.png)
I am able to render a basic map out of the latitude and longitude from the placeides map JSON. I'm not really happy with the black and white - the library is supposed to load OpenStree

[2020-05-19 19:49] jabrah commented on #89
@jacobwegner

I tried this out in our viewer, finally, and it seemed to work nicely. I have it integrated as a proof of concept with the discovery service URL baked into the UI, but when the service stabilizes, we can think about adding it to our IIIF manifests as a `service` block that the UI can access. No more magic URLs in the UI :)

[2020-05-20 17:01] cyork opened #97 "POC in the viewer to make sure this service works well with our scheme"
re: Discovery Service

[2020-05-20 17:02] cyork opened #98 "Contact and ask Mark about adding ref to their discover service in our manifest"
re: Discovery Service

[2020-05-20 17:06] cyork opened #99 "Update UI to know to reference the discovery service"
re: Discovery Service
in parallel with #98

[2020-05-20 17:07] cyork commented on #98
in parallel with #99

[2020-05-20 17:47] jacobwegner commented on #89
@jabrah Great!  I'll work on getting the "stable" instance (`aniop-atlas-staging.eldarion.com`) deployed with this change, and eventually will spin down `explorehomer-feature-wa-jm1koi.herokuapp.com`

[2020-05-20 19:08] htpvu commented on #87
duplicate #95

[2020-05-20 19:08] #87 closed, assigned to jabrah

[2020-05-20 19:12] #97 closed, assigned to jabrah

[2020-05-20 22:43] jacobwegner commented on #89
@jabrah I've deployed the discovery endpoint to `aniop-atlas-staging.eldarion.com`:

https://aniop-atlas-staging.eldarion.com/wa/discovery/?canvas_id=https://rosetest.library.jhu.edu/rosademo/iiif/homer/VA/VA035RN-0036/canvas

When convenient (but no rush!), please update to `aniop-atlas-staging.eldarion.com` and let me know here, and I'll tear down the preview instance.

[2020-05-21 14:33] markpatton opened #100 "Update IIIF Manifest to contain Eldarion discovery service"
[code]
The context should actually be retrievable, but we won't bother with that for the demo. Nor is a context neeed.

[2020-05-21 14:52] markpatton commented on #98
Done. See #100

[2020-05-21 14:52] #98 closed, assigned to jabrah

[2020-05-21 15:35] jabrah commented on #89
I've updated the discovery endpoint, seems to work as expected.

[2020-05-21 17:06] jacobwegner commented on #89
Thanks; I've shut down the preview instance.

[2020-05-21 17:06] #89 closed, assigned to jacobwegner

[2020-05-21 17:07] jacobwegner commented on #90
@jabrah I haven't made it to the changes discussed here.  Would they still be helpful to you?

[2020-05-21 17:14] jabrah commented on #90
In future development, but not immediately, I would be comfortable deferring this until later

[2020-05-22 21:36] jacobwegner commented on #59
Resolved via [scaife-viewer/explorehomer #9](https://github.com/scaife-viewer/explorehomer/pull/9)

[2020-05-22 21:36] #59 closed, assigned to nobody

[2020-05-26 20:34] jabrah commented on #96
[New update, v3.0.0-beta.10](https://github.com/ProjectMirador/mirador/releases/tag/v3.0.0-beta.10)

[2020-05-27 19:19] htpvu commented on #92
https://docs.google.com/document/d/1AJDaJk_REkqo4uTYDiWsX5x5PDAUYT5IDa9LWhgT5LI/edit?usp=sharing

[2020-05-28 17:01] #95 closed, assigned to GroovinChip

[2020-05-28 18:22] GroovinChip opened #101 "UI/UX refinements"
Per a conversation @jabrah and I had this afternoon, we determined the below UI/UX refinements would be good for me to work on. I will check these off as they are completed.
- [x] [Try to overlay Pleiades link in the map itself for better UX](https://github.com/jhu-digital-manuscripts/rosademo-frontend/issues/17)
- [x] [Show tags as chips](https://github.com/jhu-digital-manuscripts/rosademo-fronte

[2020-05-29 19:34] #92 closed, assigned to htpvu

[2020-06-01 15:53] markpatton commented on #100
Done.

[2020-06-01 15:53] #100 closed, assigned to markpatton

[2020-06-03 13:49] jabrah opened #102 "Some text alignment issues"
I wanted to record some issues that Chiara has noticed with some of the annotations. Some may be our client side rendering, some may be the annotations themselves. To be investigated.

* [ ] f. 33v, the manuscript starts with v. 2.463), but the transcription and translation start with v. 2.459
* [x] F. 34r, a cts urn shows up in the text with no reason (actually, I think there is a reason, because

[2020-06-03 14:02] GroovinChip commented on #101
Just had a call with @jabrah, it appears that for now only the tickets related to theming are relevant to work on at the moment.

[2020-06-03 15:03] jabrah commented on #102
Regarding point 2 above, This annotation seems to have https://aniop-atlas-staging.eldarion.com/wa/urn:cite2:hmt:msA.v1:34r/translation-alignment/605/ a CTS URN embedded in the first annotation body

[2020-06-03 18:49] jacobwegner commented on #102
@jabrah inline responses below:

The translation alignments are organized by English sentences, so there isn't always a 1:1 map to the line numbers of the greek transcription.

So in this case, the English sentence:

is mapped to lines 2.459 to 2.465 in the Greek.

We _could_ provide a separate _transcription_ annotation that would start at 2.463 if desired, but the _sentence alignment_ will alway

[2020-06-03 18:57] jabrah commented on #102
Ah, a misunderstanding on my part. I think I get it. I feel like this ties into a broader discussion about the usage of these annotations in our client and isn't something that should be quick-fixed just for user testing.

[2020-06-03 18:59] jacobwegner commented on #102
@jabrah wrote:

The source of the data is from https://docs.google.com/spreadsheets/d/1-Zz1TCm1bVygngmWeXuskzlfQHN3ER6HERX0DC-VRI0/edit#gid=283848305.

It looks like that there is an update to the data that fixes the issue:
<img width="975" alt="image" src="https://user-images.githubusercontent.com/629062/83677858-6cfc9900-a5a2-11ea-8c6e-751ab024a5cc.png">

I'll work to get our copy of the data up

[2020-06-03 19:01] jacobwegner commented on #102
@jabrah wrote:

Yep; another "side-effect" of the English sentences being mapped to Greek lines (which are in turn mapped back to the folios.

[2020-06-03 19:54] jacobwegner commented on #102
_sigh_...I misspoke; those errors _are_ in the original spreadsheet (as seen in my screenshot); I've just gone ahead and fixed them in our copy and redeployed

[2020-06-04 16:50] jabrah commented on #102
Parking for now, to be revisited in the near future (i.e. after user testing)

[2020-06-10 18:54] cyork commented on #91
SysAdmin says okay to not bringing down Rose site during the testing time period.

[2020-06-10 18:54] #91 closed, assigned to cyork

[2020-06-12 21:02] jacobwegner commented on #63
Deployed in the [v2020-06-06-001 Explore Homer release](https://github.com/scaife-viewer/explorehomer/releases/tag/v2020-06-06-001).

[2020-06-12 21:02] #63 closed, assigned to nobody

[2020-06-12 21:03] jacobwegner commented on #57
Improvements to transcription viewing were deployed in the [v2020-06-06-001 Explore Homer release](https://github.com/scaife-viewer/explorehomer/releases/tag/v2020-06-06-001).

[2020-06-12 21:03] #57 closed, assigned to nobody

[2020-06-12 21:04] jacobwegner commented on #56
Deployed in the [v2020-06-09-001 Explore Homer release](https://github.com/scaife-viewer/explorehomer/releases/tag/v2020-06-09-001).

[2020-06-12 21:04] #56 closed, assigned to nobody

[2020-06-12 21:05] jacobwegner commented on #62
Deployed in the [v2020-06-11-002 Explore Homer release](https://github.com/scaife-viewer/explorehomer/releases/tag/v2020-06-11-002).

[2020-06-12 21:05] #62 closed, assigned to nobody

[2020-06-12 21:05] jacobwegner commented on #61
Deployed in the [v2020-06-11-001 Explore Homer release](https://github.com/scaife-viewer/explorehomer/releases/tag/v2020-06-11-001).

[2020-06-12 21:05] #61 closed, assigned to nobody

[2020-06-12 21:17] jacobwegner commented on #64
Deployed in the [v2020-06-12-001 Explore Homer ATLAS release](https://github.com/scaife-viewer/explorehomer-atlas/releases/tag/v2020-06-12-001).

[2020-06-12 21:17] #64 closed, assigned to nobody

[2020-06-12 21:17] jacobwegner commented on #53
Deployed in the [v2020-06-12-001 Explore Homer ATLAS release](https://github.com/scaife-viewer/explorehomer-atlas/releases/tag/v2020-06-12-001).

[2020-06-12 21:17] #53 closed, assigned to nobody

[2020-06-18 19:46] jabrah opened #103 "Draft mockup(s) to address testing feedback"
The purpose is to propose a modified UI that we think addresses feedback that we've already received.

* Lack of interaction between annotation text in the sidebar makes it difficult to read the text and follow along in the manuscript image.
* It is difficult to read and follow along using only the translation
  * Possibly because of how the translation is split up and hidden in expansion panels?

[2020-06-19 14:55] GroovinChip commented on #103
Ideas:
- Annotation highlighting
- Multiple sidebars for different things, like transcriptions, translations, map data
  - for a map data sidebar, maybe show a small preview will all map markers and then can expand the map into a modal window that shows the same map but larger. Also, map markers, when clicked, could show more of the detail that we currently show by default like tags

I will make s

[2020-06-19 15:21] GroovinChip commented on #103
Below is a mockup of a "map data" sidebar that shows one map with all data points, and it has a button to expand the map into a modal window that shows the same map at a larger and more interactive size
![image](https://user-images.githubusercontent.com/4250470/85149224-083a7300-b21f-11ea-9d13-a3dd9445849d.png)

[2020-06-19 15:25] GroovinChip commented on #103
![image](https://user-images.githubusercontent.com/4250470/85149720-9f072f80-b21f-11ea-9559-195c2caa413b.jpeg)

[2020-06-19 15:27] GroovinChip commented on #103
@jabrah do you think I need to make mockups for what transcription-only/translation-only sidebars would look like? Seems pretty self evident, doesn't it?

[2020-06-19 15:34] jabrah commented on #103
I think it would be helpful to have mockups for them, since they may be shown to Chiara and the other testers. If possible, notes about possible interaction between different elements would help as well to illustrate how we're thinking about this stuff

[2020-06-19 15:38] GroovinChip commented on #103
Fair enough

In the map data mockup I wrote a note about interaction, is that not enough for that one?

[2020-06-19 15:42] jabrah commented on #103
Yeah the notes on the map mockup I think are good. I guess I just wanted to make sure that interaction notes would be present for transcription/translation stuffs

[2020-06-22 13:26] GroovinChip commented on #103
![image](https://user-images.githubusercontent.com/4250470/85292760-68712500-b46a-11ea-99cb-a4ccfe3035be.png)

[2020-06-24 19:04] #99 closed, assigned to jabrah

[2020-06-24 19:29] cyork opened #104 "Data Model update"
Start conversation between @markpatton and John → produce an initial data model update proposal

[2020-07-01 15:24] #103 closed, assigned to GroovinChip

[2020-07-01 15:26] #69 closed, assigned to GroovinChip, jabrah

[2020-07-01 15:27] cyork opened #105 "Work on DarkMode issue"
PR is almost done to update the Mirador Version. https://github.com/jhu-digital-manuscripts/rosademo-frontend/pull/28This week, Reuben will pick up the work that’s left on the PR based on available comment. Also consider working on DarkMode links issue
We will check in about progress by next week’s meeting.
--

[2020-07-01 17:27] jabrah commented on #104
In progress

https://docs.google.com/document/d/1jf8F5kXP5RVkW6BJrlzv4xclEgGd36NPfMXm-g9AyK0/edit?usp=sharing

[2020-07-08 13:43] jacobwegner commented on #65
Deployed in the [v2020-06-24-001 Explore Homer release](https://github.com/scaife-viewer/explorehomer/releases/tag/v2020-06-24-001).

[2020-07-08 13:43] #65 closed, assigned to nobody

[2020-07-08 15:25] #88 closed, assigned to nobody

[2020-07-08 18:11] #96 closed, assigned to nobody

[2020-07-08 18:12] #76 closed, assigned to markpatton

[2020-07-08 18:51] jabrah opened #106 "Annotation companion window needs a new button"
The annotation sidebar was recently updated to take advantage of Mirador 3's new CustomPanel plugin API. It requires that a custom button be defined that is added to the window's sidebar tab buttons to toggle the custom panel on. We currently have a placeholder button that is functional, but needs a new icon and needs to be changed to get the tooltip working correctly

[2020-07-10 18:45] jabrah opened #107 "Create new CustomPanel plugin for georeference annos"
Based on user feedback, we should consolidate georeference annotations into a single map for each page. We currently show one map with a single pin for each such annotation, but users had difficulty grasping the geographic distribution of the locations across multiple maps. We should create a new custom sidebar with a map to collect all locations for each page.

* Create new CustomPanel plugin
  *

[2020-07-22 15:43] GroovinChip commented on #106
New button has been added. See branch custom-sidebar-button

[2020-07-22 15:43] #106 closed, assigned to GroovinChip

[2020-07-27 15:23] jabrah commented on #107
Initial thoughts on props for this component:

[code]

* `annotations` : an array of (georeference) annotation objects (see this URL for an example https://rosetest.library.jhu.edu/rosademo/wa/homer/VA/VA035RN-0036/canvas)
* `selectedAnnotation` : the string ID of an annotation that the user has selected to be highlighted on the map. We want a user to be able to select a georeference annotation in

[2020-07-27 21:17] jabrah commented on #107
Slight tweak to the props provided:

[code]

* `annotations` same as above
* `selectedAnnotation` same as above
* `selectGeorefAnnotation` the same as _annotationSelected_, I think the new name is a bit clearer to distinguish it as an action

For now, the action provided will only allow a user to select one annotation at a time. You should be able to "deselect" an annotation by calling the `select

[2020-08-05 19:48] #101 closed, assigned to GroovinChip

[2020-08-05 19:48] #105 closed, assigned to GroovinChip

[2020-08-05 19:48] #107 closed, assigned to GroovinChip

[2020-08-05 20:49] jacobwegner commented on #104
@jabrah / @markpatton / JHU team:

@jtauber  and I took a look at [the feedback document above](https://docs.google.com/document/d/1jf8F5kXP5RVkW6BJrlzv4xclEgGd36NPfMXm-g9AyK0/edit?usp=sharing); below are suggested changes we think we could implement to help address the feedback.

- We feel that continuing to rely on the discovery endpoint (http://aniop-atlas-staging.eldarion.com/wa/discovery/?can

[2020-08-06 15:18] jabrah opened #108 "Consider adding more Pleiades data to georeference annotation display"
In our new maps panel, when a user clicks on a georeference annotation, we present them with a large map showing its location along with some metadata that we fetch from Pleiades. We currently show a brief description and alternate names for the location. We should consider what else we could display to more completely describe the location.

We should also include a direct link to the Pleiades pa

[2020-08-06 15:31] jabrah opened #109 "Link the annotation and map panels together"
* Add back list of locations to the annotations panel
  * Keep this list simple (name/title only?), details will be in the map panel
* Add interaction: User clicks on a location in the annotations panel, the annotation should be selected/highlighted in some way in the maps panel
  * Change view to map panel on this interaction?
  * Different color pin? Auto-open details modal?

Impl details;
* Use

[2020-08-06 15:33] jabrah opened #110 "UI polish"
General UI tweaks such as improved theming (such as dark mode), various spacing / margins, etc

[2020-08-06 15:36] jabrah opened #111 "General code maintenance and cleanup"
We should consider doing some maintenance:

* Update dependencies
  * NWB is important, as I think it has an open vulnerability, patched in a newer version
* Use of react-leaflet can be consolidated somewhat for less duplicate logic
* We actually have no testing at the moment :(

[2020-08-07 15:29] #36 closed, assigned to nobody

[2020-08-21 16:59] jacobwegner commented on #104
Just added a comment to https://docs.google.com/document/d/1fA6LOUORFGv34_lghDmtQwX5Qsj1zc1dnxGXSLkCDDA/edit